<template>

    <div class="wrapper" :class="{'nav-open': $sidebar.showSidebar}">
        <notifications></notifications>

        <side-bar>

            <user-menu></user-menu>

            <mobile-menu></mobile-menu>

            <template slot-scope="props" slot="links">
                <sidebar-item :link="{name: 'Dashboard', icon: 'nc-icon nc-chart-pie-35', path: '/overview'}">
                </sidebar-item>


                <sidebar-item v-if="$store.getters['auth/haveOneOfPermissions'](['customer/index'])"
                              :link="{name: 'Customer', icon: 'nc-icon nc-single-02', path: '/customer/list'}">
                </sidebar-item>


                <!--</sidebar-item>-->

                <sidebar-item v-if="$store.getters['auth/checkAccess']('roles/index')
                            // || $store.getters['auth/checkAccess']('permissions/index')
                            || $store.getters['auth/checkAccess']('users/index')"
                              :link="{name: 'Access Management', icon: 'nc-icon nc-circle-09'}">

                    <sidebar-item v-if="$store.getters['auth/checkAccess']('roles/index')"
                                  :link="{name: 'Roles', path: '/roles/list'}"></sidebar-item>
                    <sidebar-item v-if="false"
                                  :link="{name: 'Permissions', path: '/permissions/list'}"></sidebar-item>

                    <sidebar-item v-if="$store.getters['auth/checkAccess']('users/index')"
                                  :link="{name: 'Users', path: '/users/list'}"></sidebar-item>


                </sidebar-item>


            </template>

        </side-bar>


        <div class="main-panel">
            <top-navbar></top-navbar>

            <dashboard-content @click.native="toggleSidebar"></dashboard-content>

            <content-footer></content-footer>
        </div>

    </div>
</template>
<script>
import TopNavbar from './TopNavbar.vue'
import ContentFooter from './ContentFooter.vue'
import DashboardContent from './Content.vue'
import MobileMenu from './Extra/MobileMenu.vue'
import UserMenu from './Extra/UserMenu.vue'


export default {
    components: {
        TopNavbar,
        ContentFooter,
        DashboardContent,
        MobileMenu,
        UserMenu
    },
    methods: {
        toggleSidebar() {
            if (this.$sidebar.showSidebar) {
                this.$sidebar.displaySidebar(false)
            }
        }
    }
}

</script>
