<template>
    <div class="row">
        <div class="col-12">
            <card>
                <div slot="header" class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
                    <h4 class="card-title">customer List</h4>
                    <router-link v-if="$store.getters['auth/haveOneOfPermissions'](['customer/create'])"
                                 :to="'/customer/create/'"
                                 class="btn btn-info btn-wd" wide>
                        Add New
                        <span class="btn-label">
                    <i class="fa fa-plus"></i>
                </span>
                    </router-link>
                </div>
                <div>
                    <general-data-table
                        ref="table"
                        :sortable="false"
                        :row-key="'id'"
                        :lang="lang"
                        :key="componentKey"
                        :api-url="'customer/index'">
                        <el-table-column v-for="column in tableColumns"
                                         :key="column.label"
                                         :min-width="column.minWidth"
                                         :align="column.align"
                                         :prop="column.value"
                                         :sortable="column.sortable"
                                         :label="column.label">
                        </el-table-column>

                        <el-table-column
                            :min-width="120"
                            :fixed="fixedColumn"
                            align="center"
                            label="Active">
                            <template slot-scope="props">

                                <l-switch v-if="$store.getters['auth/haveOneOfPermissions'](['users/change-active-status'])"
                                          v-model="props.row.status" @input="handleActiveStatus(props.row)">
                                    <i class="fa fa-check" slot="on"></i>
                                    <i class="fa fa-times" slot="off"></i>
                                </l-switch>

                            </template>
                        </el-table-column>

                        <el-table-column
                            :min-width="120"
                            align="center"
                            label="Actions">
                            <template slot-scope="scope">

                                <template>
                                    <router-link v-if="$store.getters['auth/haveOneOfPermissions'](['customer/update']) ||
                                     $store.getters['auth/checkAccessOwner']( scope.row.creator_id)"
                                                 v-tooltip.top-center="'Edit'"
                                                 class="btn-warning btn-simple btn-link"
                                                 :to="'/customer/edit/'+scope.row.id">
                                        <i class="fa fa-edit"></i>
                                    </router-link>

                                    <a v-if="$store.getters['auth/haveOneOfPermissions'](['customer/delete']) ||
                           $store.getters['auth/checkAccessOwner'](  scope.row.creator_id)"
                                       v-tooltip.top-center="'Delete'"
                                       class="btn-danger btn-simple btn-link"
                                       @click="openDeleteModal(scope.row.id)">
                                        <i class="fa fa-times"></i></a>
                                </template>


                            </template>
                        </el-table-column>
                    </general-data-table>
                </div>
            </card>
            <delete-modal :visible="deleteModalVisibility"
                          :message="'Are you sure you want to delete this customer?'"
                          @close="closeDeleteModal()"
                          @confirm="confirmDeleteModal()">
            </delete-modal>
        </div>
    </div>
</template>

<script>
import {DeleteModal as DeleteModal} from '../../components'
import GeneralDataTable from "../../components/GeneralDataTable";
import {TableColumn} from "element-ui";
import {Switch as LSwitch} from '../../components'

export default {
    components: {
        GeneralDataTable,
        DeleteModal,
        [TableColumn.name]: TableColumn,
        LSwitch
    },

    data() {

        return {
            tableColumns: [
                {label: 'Full Name', value: 'full_name', minWidth: '200', align: 'center'},
                {label: 'Telephone', value: 'telephone', minWidth: '200', align: 'center'},
                {label: 'Company', value: 'company', minWidth: '200', align: 'center'},
                {label: 'Added date', value: 'added_datetime', minWidth: '200', align: 'center'},
            ],

            deleteModalVisibility: false,
            toDeleteId: undefined,
            lang: 'ar',
            componentKey: 0,
        }
    },
    created() {
        const path = window.location.href;
        this.lang = path.substring(path.lastIndexOf('/') + 1)
    },
    methods: {
        handleActiveStatus(row) {
            let data = {
                'status': row.status
            }
            this.axios.post("customer/change-active-status/" + row.id, data).then((response) => {
                this.$notify({
                    message: "User updated successfully",
                    timeout: 1000,
                    type: 'success'
                });
            }).catch((error) => {
                console.log(error)
            })
        },
        openDeleteModal(id) {
            this.deleteModalVisibility = true;
            this.toDeleteId = id;
        },

        closeDeleteModal() {
            this.deleteModalVisibility = false;
        },

        async confirmDeleteModal() {
            try {
                let data = {
                    'id': this.toDeleteId,
                    'lang': this.lang,
                }
                await this.axios.delete("customer/delete", {headers: {}, data});
                this.$refs.table.getData("updateData");
                this.$notify({
                    message: "customer deleted successfully",
                    timeout: 1000,
                    type: 'success'
                });
            } catch (error) {
                this.$notify({
                    message: error.response.data.message,
                    timeout: 2000,
                    type: 'danger'
                })
            } finally {
                this.closeDeleteModal();
                this.toDeleteId = undefined;
            }
        },
    },
}
</script>

