<template>

    <div class="row" ref="customerForm">
        <div class="col-xs-12 col-md-12 col-sm-12">
            <ValidationObserver v-slot="{ handleSubmit }" ref="formValidator">

                <card>
                    <div slot="header">
                        <h4 class="card-title">
                            {{ formTitle }}
                        </h4>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <ValidationProvider
                                    vid="fname"
                                    rules="required"
                                    name="The First Name"
                                    v-slot="{ passed, failed,errors }">
                                    <fg-input type="text"
                                              :error="failed ? errors[0]: null"
                                              label="First Name"
                                              name="fname"
                                              fou

                                              v-model="formData.fname">
                                    </fg-input>
                                </ValidationProvider>

                                <ValidationProvider
                                    vid="lname"
                                    name="The Last Name"
                                    v-slot="{ passed, failed,errors }">
                                    <fg-input type="text"
                                              :error="failed ? errors[0]: null"
                                              label="Last Name"
                                              name="lname"
                                              fou

                                              v-model="formData.lname">
                                    </fg-input>
                                </ValidationProvider>
                                <ValidationProvider
                                    vid="telephone"
                                    rules="required"
                                    name="The Telephone"
                                    v-slot="{ passed, failed,errors }">
                                    <fg-input type="mobile"
                                              :error="failed ? errors[0]: null"
                                              label="telephone"
                                              name="telephone"
                                              fou

                                              v-model="formData.telephone">
                                    </fg-input>
                                </ValidationProvider>


                                <ValidationProvider
                                    vid="company"
                                    name="The Company"
                                    v-slot="{ passed, failed,errors }">
                                    <fg-input type="text"
                                              :error="failed ? errors[0]: null"
                                              label="company"
                                              name="company"
                                              fou

                                              v-model="formData.company">
                                    </fg-input>
                                </ValidationProvider>

                                <ValidationProvider
                                    vid="address"
                                    rules="required"
                                    name="The Address"
                                    v-slot="{ passed, failed,errors }">
                                    <fg-input type="text"
                                              :error="failed ? errors[0]: null"
                                              label="address"
                                              name="address"
                                              fou

                                              v-model="formData.address">
                                    </fg-input>
                                </ValidationProvider>

                                <div class="form-group">
                                    <label>Is Active</label>&nbsp;
                                    <l-switch v-model="formData.status">
                                        <i class="fa fa-check" slot="on"></i>
                                        <i class="fa fa-times" slot="off"></i>
                                    </l-switch>
                                </div>

                            </div>

                            <div class="col-md-6 col-sm-12">



                                <div class="form-group">
                                    <label>Image</label>
                                    <input type="file" id="file"  accept="image/*" v-on:change="handleFileUpload($event)"/>
                                </div>

                                <img style="max-width: 300px" v-if="previewImage" alt="" :src="previewImage" class="el-upload-list__item-thumbnail">

                            </div>



                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <l-button :disabled="entityNotFoundError || submitting" @click.prevent="handleSubmit(submit)"
                                  nativeType="submit"
                                  type="info" wide>Submit
                        </l-button>
                        <l-button @click="$router.push('/customer/list')" type="danger" wide>Cancel
                        </l-button>
                    </div>
                </card>

            </ValidationObserver>

        </div>

    </div>
</template>
<script>
import {extend} from "vee-validate";
import {Option, Select, TableColumn, Tooltip} from 'element-ui';
import FgSelect from "../../components/Inputs/formGroupSelect";
import FormGroupTextArea, {PrimeUploader, PrimeVideoUploader, Switch as LSwitch} from "../../components";
import Editor from '@tinymce/tinymce-vue'
import {mapGetters} from "vuex";
import GeneralDataTable from "../../components/GeneralDataTable";
import draggable from 'vuedraggable';

extend("required", {
    message: "{_field_} is required"
});

export default {

    components: {
        FormGroupTextArea,
        [Option.name]: Option,
        [Select.name]: Select,
        [Tooltip.name]: Tooltip,
        [TableColumn.name]: TableColumn,
        FgSelect,
        LSwitch,
        GeneralDataTable,
        PrimeUploader,
        'editor': Editor,
        draggable
    },
    data() {
        return {
            editMode: false,
            loader: {},
            id: undefined,
            formTitle: "",
            entityNotFoundError: false,
            submitting: false,
            previewImage:null,
            formData: {
                fname: "",
                lname: "",
                company: "",
                telephone: "",
                address: "",
                status: false,
                image_file:null,
            },
        };
    },
    computed: {
        ...mapGetters({
            mediaInfo: "global/mediaInfo"
        }),
    },
    mounted() {
        this.loader = this.$loading.show({
            container: this.$refs.customerForm
        });

        this.id = this.$route.params['id'];
        if (this.id !== undefined) {
            this.editMode = true;
            this.formTitle = "Edit customer";
            this.getCustomer();
        } else {
            this.editMode = false;
            this.formTitle = "Add customer";
            this.loader.hide();
        }

    },


    methods: {
        getCustomer() {
            let data = {
                id: this.id,
            }
            this.axios.post("customer/get", data).then((response) => {
                this.formData = response.data;
                this.previewImage = "data:image/png;base64, " + this.formData.image;
                this.loader.hide();
            }).catch((error) => {
                if (error.response.status === 404) {
                    this.entityNotFoundError = true;
                    this.$notify({
                        message: "customer Not Found",
                        timeout: 2000,
                        type: 'danger'
                    });
                    this.loader.hide();

                } else {
                    console.error(error);
                }
            })
        },
        handleFileUpload(event){
            if(event.target.files && event.target.files[0]){
                this.formData.image_file =  event.target.files[0];
                this.previewImage = URL.createObjectURL(this.formData.image_file);
            }

        },
        submit() {
            let request;
            let successMessage;
            this.submitting = true;
            let formData = new FormData();
            formData.append('image_file',this.formData.image_file);
            formData.append('fname',this.formData.fname);
            formData.append('lname',this.formData.lname);
            formData.append('company',this.formData.company);
            formData.append('telephone',this.formData.telephone);
            formData.append('status',this.formData.status);
            formData.append('address',this.formData.address);
            if (this.editMode === true) {
                request = this.axios.post("customer/update/" + this.id, formData);
                successMessage = "customer Updated Successfully";
            } else {
                request = this.axios.post("customer/create", formData);
                successMessage = "customer Added Successfully";
            }

            request.then((response) => {
                this.$notify({
                    message: successMessage,
                    timeout: 1000,
                    type: 'success'
                })
                this.$router.push("/customer/list");
            }).catch((error) => {
                if (error.response.status === 422) {
                    this.$refs.formValidator.setErrors(error.response.data.errors);
                } else {
                    console.log(error.response)
                }
            }).finally(() => {
                this.submitting = false;
            })
        },

        generateSomeFields() {

            let newUrl = '';
            if (this.formData.name) {
                this.formData.meta_title = this.formData.name;
                this.formData.meta_description = this.formData.name;
                newUrl = this.formData.name.replace(/\s+/g, "-").toLowerCase();
                newUrl = newUrl.replace(/[^ءأ-يa-zA-Z0-9-]/g, "");
                newUrl = newUrl.replace(/([-]+)/g, "-");
            }

            this.formData.url = newUrl;
        },
    }
}
</script>

<style>

.extra-fields {
    box-shadow: rgb(235 232 232) 1px 1px 20px 0px, rgb(235 232 232) -1px -1px 20px 0px;
    padding: 0 0 3px;
}

.extra-fields > h4 {
    padding: 20px;
}
</style>
